
.content-footer {
  background: #000;
  text-align: center;
  color: #fff;
  position: relative;
  top: 200px;

}

.redes_div {
  height: 168px;
  margin: -1px auto;
}

.icones_redes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 43px;
}

.icones_redes i{
  font-size: 42px;
}

.redes_div p {
  margin: -17px auto;
}

.rodape_txt {
  background-color: #111111;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

}


/* Css responsive */
