/* CSS Navbar e Footer */
header {
  background-color: #000000;
  width: 100%;
}

.menu_mobile {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  width: 100%;
  margin: 0 76px;
}

nav ul li a {
  font-size: 1em;
  text-decoration: none;
  color: white;
  padding: 16px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_geral {
  width: 120px;
}

.links .logo::after {
  content: none;
}

.menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.links a {
  font-weight: bold;
}

.btns_lg {
  display: flex;
}

.btn_login{
  text-decoration: none;
  margin: 0 0px 0 0 !important;
  cursor: pointer;
  overflow: hidden;
   padding: 8px 39px;
}

.btn_criar{
  text-decoration: none;
  margin: 0 0px 0 0 !important;
  cursor: pointer;
  overflow: hidden;
   padding: 8px 18px;
}

.btn_login::after,
.btn_criar::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(0%);
  width: 0;
  height: 2px;
  background: #004EF7;
  transition: width 0.4s ease;
}

.btn_login:hover::after,
.btn_criar:hover::after {
  width: 80%;
}

.icons_menu {
  font-size: 20px;
  margin: 0 3px 0 0;
}

.icons_menu_login {
  font-size: 40px;
  color: #fff;
  margin: 0 3px 0 0;
}

/* linha underline */

.links a {
  margin: 0 15px 0 0;
  display: flex;
  position: relative;
}

.links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 23px;
  right: 0;
  background: #004EF7;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
}

.btns_login_mobile a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 23px;
  right: 0;
  background: #004EF7;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
}

.links a:hover::after {
  width: 100%;
  left: 0;
  background: #004EF7;
}

/* .dropdown_navbar a:hover::after {
  display: none;
} */

/* Dropdown */

.user_navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.user_navbar>span {
  display: flex;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.user_navbar>.dropdown_navbar>.btn_login, .btn_criar {
  transition: all -1.6s;
}

.user_navbar>.dropdown_navbar {
  height: 100px;
  position: absolute;
  background-color: #2c2c2c;
  min-width: 160px;
  z-index: 1;
  top: 100px;
  right: 100px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;

}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Css Responsive */

@media (max-width: 850px) {
  .menu_desktop {
    display: none;
  }

  .menu_mobile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin: auto;
  }

  .bx-menu,
  .bx-x {
    font-size: 35px;
    color: #fff;
  }


  .logo_mobile {
    margin: 35px 0 auto;
  }

  .user_navbar {
    justify-content: flex-start;
  }

  .links_mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .links a {
    margin: 0;
  }

  .btns_login_mobile {
    display: flex;
    flex-direction: row;
  }

  .btn {
    border: 1px solid;
  }

  /* Dropdown mobile */

  .user_navbar_mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .user_navbar_mobile>span {
    display: flex;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }

  .user_navbar_mobile>.dropdown_navbar_mobile>.btn_login, .btn_criar {
    transition: all -1.6s;
  }

  .user_navbar_mobile>.dropdown_navbar_mobile {
    width: 350px;
    height: 350px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: #004EF7;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 42px 0px;

  }

  .dropdown_menu_mobile a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown_menu_mobile {
    display: block;
  }
}
.dropdown_navbar_mobile span {
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 56px;
    left: 145px;;
  }

  @media (min-width: 380px) {
    .logo_geral {
      width: auto;
    }

    .bx-menu {
      font-size: 45px;
    }
  }
