// public/scss/partials/_variables.scss

// Cores principais
$color-primary: #004EF7;


// Neutras / fundo
$color-bg: #000;
$color-bg-light: #fff;
$color-bg-secundary: #2c2c2c;


// Texto
$color-text: #fff;
$color-text-muted: #a0a0a0;

// Estados
$color-success: #2ecc71;
$color-error: #e74c3c;
$color-warning: #f1c40f;